<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Key fetch</title>
        <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-fonts,o-icons,o-buttons" />
        <style>
	        body {
				background: #FFF1E5;
				font-family: MetricWeb, sans-serif;
			}
        </style>
    </head>
    <body>
    	<h1>FT Digital Archive Authenticator</h1>
        <button class="o-buttons o-buttons--primary" id="copyCreds" data-clipboard-action="copy" data-clipboard-text="{{creds}}">Copy credentials</button>
    	<p>Copy your credentials by clicking on the button above, then go back to the application and click 'Continue' to activate them.</p>
    </body>
    <script async type="javascript" src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-fonts,o-icons,o-buttons"></script>
    <script src="/lib/clipboard.min.js" type="text/javascript"></script>
    <script>
        const clipboard = new Clipboard('#copyCreds');
        clipboard.on('success', e => {
            e.trigger.textContent = 'Copied';
            e.trigger.classList.add('o-buttons-icon', 'o-buttons-icon--tick');

        })
    </script>
</html>